<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="6.2.2" targetFramework="net472" />
  <package id="ClosedXML" version="0.68.1" targetFramework="net462" />
  <package id="DocumentFormat.OpenXml" version="1.0" targetFramework="net462" />
  <package id="DoddleReport" version="1.5.2.0" targetFramework="net462" />
  <package id="DoddleReport.OpenXml" version="1.5.2.0" targetFramework="net462" />
  <package id="DoddleReport.Web" version="1.5.2.0" targetFramework="net462" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="FluentValidation" version="8.1.0" targetFramework="net472" />
  <package id="LinqKit" version="1.1.15" targetFramework="net462" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.Razor" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.4" targetFramework="net462" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net462" />
  <package id="NLog" version="4.5.11" targetFramework="net472" />
  <package id="System.Collections.Concurrent" version="4.3.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.4.1" targetFramework="net472" />
  <package id="System.ComponentModel.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>