@using BaselineSolution.WebApp.Components.HtmlHelpers.Links

<div class="row">
    <div class="col-sm-12">
        <h2>@SecurityResource.Title_Roles @Html.Link("Edit", "Role").ToHtml(WebApp.Form_Add, "fa fa-plus", new { @class = "btn btn-sm btn-success" })</h2>
    </div>
</div>

@{Html.RenderPartial("_List");}