@using BaselineSolution.Bo.Models.Security
@using BaselineSolution.WebApp.Components.Datatables.Html.HtmlHelpers
@using BaselineSolution.WebApp.Components.HtmlHelpers.Links
@using BaselineSolution.WebApp.Resources

@(Html.Datatable<AccountBo>(Url.Action("AccountList"))
      .Column(WebApp.Security_AccountName, bo => bo.Name)
      .Column(WebApp.Securirty_AccountDescription, bo => bo.Description)
      .Column(WebApp.Security_AccountParent, bo => bo.Parent.Display)
      .Display(x=> ParentDisplay(x))
      .Column("")
      .Display(x=> Actions(x))
      .Build()
      .ToHtml())


@helper Actions(AccountBo bo)
{
    <div>
        @Html.Link("Edit", "Account", new {Id = bo.Id}).ToHtml("Edit") &nbsp; 
    </div>
}

@helper ParentDisplay(AccountBo bo)
{
    if (bo.Parent != null)
    {
        <span>@bo.Parent.Display</span>
    }
}