@using BaselineSolution.WebApp.Components.HtmlHelpers.Links



<div class="row">
    <div class="col-sm-12">
        <h1>@SecurityResource.Title_Accounts @Html.Link("Edit", "Account").ToHtml(WebApp.Form_Add,"fa fa-plus", new {@class = "btn btn-sm btn-success"})</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @{
        Html.RenderPartial("_List");
        }
    </div>
</div>
