@using BaselineSolution.WebApp.Infrastructure.Utilities
@{
    var alerts = new[]
    {
        new {Type = TempDataEnum.Warning.ToString(), ClassName = "alert-warning"},
        new {Type = TempDataEnum.Error.ToString(), ClassName = "alert-danger"},
        new {Type = TempDataEnum.Success.ToString(), ClassName = "alert-success"},
        new {Type = TempDataEnum.Info.ToString(), ClassName = "alert-info"},
        new {Type = TempDataEnum.Default.ToString(), ClassName = "alert-dark"},

    };
}

@foreach (var alert in alerts.Where(alert => TempData[alert.Type] != null))
{
    <div class="alert @alert.ClassName" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span>@Html.Raw(TempData[alert.Type])</span>
    </div>
}
